body,
td,
th {
  font-family: Tahoma, Geneva, sans-serif;
  color: #000;
  background-color: #999;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
/*-------------------------------------------STYLE_TAGS---------------------------------------*/
.text_links {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 11px;
  color: #000;
  text-decoration: none;
}
h1 {
  font-size: 90px;
  margin-top: 42px;
  margin-bottom: 7px;
  text-align: left;
  color: #b81414;

  padding: 10px;
}
h2 {
  font-size: 13px;
  line-height: 21px;
  margin-top: 21px;
  margin-left: 75px;
}
h2 .title_left {
  text-align: right;
}
p {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 14px;
  text-align: left;
  color: #cccccc;
}
p.pleasure {
  font-size: 12px;
  line-height: 13px;
  margin-bottom: 14px;
  text-align: left;
  color: #f00;
}

.wrap_content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.emphasis {
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 14px;
  text-align: left;
  color: #b81414;
}
/*-------------------------------------------DIV_TAGS---------------------------------------*/
#wrap {
  width: 980px;
  margin: 0pt auto 0pt auto;
  overflow: auto;
  background-color: #fff;
}
.wrap_content {
  width: 980px;
  float: left;
  margin-top: 10px;
}
.wrap_left {
  width: 250px;
  float: left;
  margin-right: 10px;
  padding: 20px;
}
.wrap_right {
  width: 720px;
  float: left;
  padding: 20px;
}

.box_left {
  width: 250px;
  float: left;
  margin-bottom: 10px;
}

